<h1>Cat Shack</h1>
<p>Hi :3</p>

<%= link_to "post a pic :D", new_cat_path %>

<div id="cats">
    <% @cats.each do |cat| %>
        <div>
            <%= link_to cat.name, cat_path(cat.id)%>
            <% if cat.photo.attached? %>
                <%= image_tag cat.photo %>
            <% else %>
                <p>no photo uploaded</p>
            <% end %>
        </div>
    <% end %>
</div>

